html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

nav h1 a{
    color: black;
    font-size: 24px;
    padding: 5px 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background 0.3s ease-in-out;
}

main {
    padding-top: 60px;
}