body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
}

.top-nav {
    position: sticky;
    top: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border: solid 1px black;
}

.actions{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout{
    padding-left: 5px;
    padding-right: 10px;
    background-color: white;
}

.logout:hover {
    background-color: darkred;
}

.post {
    min-height: 300px;
    border: solid 1px black;
    margin-bottom: 50px;
}

.stories{
    min-height: 100px;
    border: solid 1px black;
    margin-bottom: 50px;
}

.suggestions-panel {
    position: fixed;
    top: 100px;
    left: 65vw;
    min-height: 80vh;
    background-color: hotpink;
    width: calc(35vw - 30px);
}

main {
    width: calc(60vw - 30px);
    margin-top: 23px;
    margin-left: 5vw;
}

.stories{
    min-height: 100px;
    border: solid 1px black;
    margin-bottom: 50x;
}

@media (max-width: 800px) {
    .suggestions-panel{
        display: none;
    }

    main{
        width: auto;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}